
body{

background-color: black;
background-image: url(fundo_neo.jpg);
background-repeat: repeat-y;
background-position: right top;


}

h1{
    color: white;
    width: 88%;
    background-image: url(fundo_matrix.jpg);
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;


}

p{

    color: lightgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    line-height: 1.2;

}

.dr{
text-align: right;



}